@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 90px;
    margin-top: 90px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: aquamarine;
}


.titulo {
    font-size: 60px;
    margin-bottom: 15px;
  }
  
  .subtitulo {
    text-align: center;
    /*Intensidad de negrita*/
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
  }
  
  .contenedor-servicio img {
    width: 40%;
    float: left;
    margin-right: 50px;
  
  }
  
  .checklist-servicio {
    width: 55%;
    margin: auto;
  }
  
  .service {
    margin-bottom: 20px;
  
  }
  
  .n-service {
    margin-bottom: 7px;
    color: #9f8ad0;
  }
  
  .number {
    /*Permite establecer el ancho y alto de un elemento*/
    display: inline-block;
    /*Ir a https://webgradients.com y copiar 002 Night Fade*/
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    /*intensidad de la negrita*/
    font-weight: 700px;
    /*Establece la altura basada por lineas*/
    line-height: 30px;
    margin-right: 5px;
  }
  
  .gallery {
    background: #f2f2f2;
  }
  
  .img-galeria {
    /*Indica como el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, deberia redimensionarse para ajustarse en su contenedor.
    cover: El contenido reemplazado se dimensiona para mantener su relacion de aspecto mientras llena el cuadro de contenido completo del elemento, Si la relacion de aspecto del objeto no coincide con la relacion de aspecto de su caja, entonces el objeto se recortara para que se ajuste*/
    object-fit: cover;
    width: 30%;
    margin-bottom: 15px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .imagen-light {
    /*Posicion fija*/
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
  }
  
  .show {
    /*Sirve para mostrar la imagen*/
    transform: translate(0);
  }
  
  .agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 3%;
    transform: scale(0);
    transition: transform .3s .2s ease-in-out;
  }
  
  .showImage {
    /*Ocultar imagen*/
    transform: scale(1);
  }
  
  
  
  /*Esto es de la X*/
  .close {
    /*La posicion es absoluto a su ancestro*/
    position:absolute;
    top: 15px;
    right: 15px;
    cursor:pointer;
    color: #fff;
  }
  
  /*Imagenes de abajo centrado*/
  .cont-expert {
    width: 30%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .cont-expert img {
    width: 80%;
    /*Display block hace que el comportamiento del elemento sea como un bloque*/
    display: block;
    margin: 0 auto;
  
  }
  
  .n-expert {
    /*Permite establecer el ancho y alto de un elemento*/
    display: inline-block;
    margin-top: 20px;
    /*Se acomoda 100% al contenedor*/
    width: 100%;
    font-weight: 400px;
  }
  

/*main*/
/* .audi{
    float: left;
    height: 700px;
    margin-bottom: 500px;
    position: relative; padding: 20%;
    margin: auto;
} */
/* 

.left{
    margin:20px;
    padding: 5%;
}
.right{
    margin-top:700px;
    padding: 10px;
    margin-bottom: 900px;
}
.lambo{  
     border-radius: 5px 30px 45px 60px;
    margin: 20px;
    float: left;
    height:  500px;
}


h1{
    margin-top: 30px;
    margin: 100px;
}

p{
    margin: 0px;
    margin: 0;
}

.section1{
    border: solid 1px;
    margin: 0;
    background-color: rgb(41, 28, 40);
    color: white;
    font-family: 40px;
}
.section1 p{
    font-size: 50px;
    background-color: goldenrod;
    text-align: center;
}

iframe{
    text-align: center;
    margin-right: 20%;
    margin-top: 20px;
    margin-left: 20%;
    height: 700px;
    width: 1000px;
} */

/* Estilos footer*/
footer{
    background-color: rgb(0, 208, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 80px;
    position: inherit;
    margin-bottom: 0px;
    margin-top: 10px;
}
.text h1{
    color: rgb(217, 255, 0);
    font-size: 120px;
    background-color: rgb(59, 31, 65);
    margin: 0;
    padding: 0;
}
.title2{
    font-size: 50px;
    color: rgb(171, 185, 76);
    background-color: rgb(56, 4, 41);
    border-radius: 20px;
}

header{
    width: 100%;
    height: 80px;
    margin-top:0px ;
    background: #7ea8ab;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}
header h1{
    color: rebeccapurple;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 100px;
}
.fondo{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100px;
    z-index: -10;
}
.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    margin-left: 0% ;
    padding-right:0px ;
    width: 70px;
    height: 100%;
    background: #1783db;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #1783db;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
} 

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*menu*/
.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: rgb(243, 102, 114);
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: rgb(255, 0, 230);
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}

/*diseño responsivo*/
@media  (max-width: 1143px){
    main img{
        height: 300px;
    }
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}


@media  (max-width: 900px){
    main img{
        float:left ;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
}